Requirements outline for Project Pheonix.

The project has been primarily divided on three lines of focus. 
1) Relief Camps 2) Rescue Operations 3) Communication and Logistics

Each of these would have different web-views so as to give an effective overview of the battlefront.

Each focus line would have user-management at various levels to help delegate tasks. Incorporation of tools and technologies to help coordinate and manage these users would be effective.

Detailed overview of version 0.0.1 of the project
1) Relief Camps
    1.1) Camp details: Address,How to reach, Communication modes and numbers
    1.2) Camp volunter details: Name,contact number, designation
    1.3) Camp accomodation and stock status (Visible to admins of different camps only. This is a sensitive data and if it is not secure to reveal this, the admin should be able to disable sharing this statistic. )
    1.4) Camp occupant details (sensitive data, privacy controls are require to restrict view from govt. agencies or other user groups )
    1.5) Camp infrastructure details: electricity, Communication modes, vehicles available. Statistics and status of each
    1.6) Camp requirement and announcements

2) Rescue Operations
    2.1) Rescue operator's number
    2.2) Rescue supply/demand status
    2.3) Rescue requirements and announcements
    2.4) Rescue requests from victims with status
    2.5) Rescue team comunication with command and control
    2.6) Command and control dashboard

3) Communication and Logistics
    3.1) Internet failsafe
    3.2) Telecom failsafe
    3.3) Roadblocks or dangerous routes
    3.4) Requirement management
    3.5) Emergency transport management